extensions:
    dravencms.application: Dravencms\Application\DI\ApplicationExtension

services:
    route:
        class: Dravencms\Application\RouterFactory

    router: @Dravencms\Application\RouterFactory::createRouter

application:
    errorPresenter: Front:Error
    mapping:
        *: Dravencms\*Module\*Presenter
